

.contact-page {
    h5 {
        padding-top: 0;
        font-family: 'LatoLight';
    }
    address {
        font-family: 'MontserratLight';
        letter-spacing: $letter-spacing;
        line-height: $line-height;

        strong {
            font-family: 'raleway-medium';
            font-size: 20px;
        }
    }
}