.download-page {
    blockquote {
        font-family: 'RobotoLight';
        letter-spacing: $letter-spacing;
        line-height: $line-height;
        font-size: 15px;
        border-left-color: $default-color;
        text-align: justify;
        opacity: 0.8;
    }

    code {
        color: $success-color;
    }

    ul {
        font-family: 'RobotoLight';
        li {
            padding-top: 5px;
            letter-spacing: $letter-spacing;
            opacity: 0.8;
        }
    }
}