.faq-page {
    .list-group {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
        .list-group-item {
            border: none;
            border-top: 1px solid rgba($default-color, 0.3);
            &:first-child {
                border: none;
            }
        }
    }
}