.feature-page {
    @include media("retina2x") {
        img {
            max-width: 140%;
            padding-top: 100px;
        }
    }
    h3 {
        padding-bottom: 10px;
    }
    p {
        font-family: 'MontserratLight';
        text-align: justify;
        line-height: $line-height;
        letter-spacing: $letter-spacing;
        opacity: 0.8;
    }
}