.footer-page {
    background-color: $black-color;
    @include padding(100px 0 110px);
    h5 {
        color: $white-color;
        text-transform: uppercase;
        font-family: 'MontserratLight';
        letter-spacing: $letter-spacing;
        &.special {
            position: absolute;
            width: 100%;
            opacity: 0.7;
            font-size: 15px;
            text-align: center;
        }
    }

    h6 {
        color: $white-color;
        font-family: 'LatoLight';
        font-size: 13px;
        letter-spacing: $letter-spacing;
        line-height: 20px;
        opacity: 0.7;
    }

    ul {
        font-family: 'LatoLight';
        opacity: 0.7;
        li {
            letter-spacing: $letter-spacing;
            line-height: $line-height;
        }

        a {
            color: $white-color;
            text-decoration: none;
        }
    }

    img {
        padding-top: 25px;
        width: 30%;
    }
}