.getting-started-page {
    text-align: center;
    background-color: $white-color;
    // background-color: lighten($gray-color, 0.5);
    @include padding(100px 0 100px);
    .divider {
        border-right: 1px solid rgba($default-color, 0.5);
    }
    .btn {
        margin-top: 30px;
    }
}