.highlight-page {
    text-align: center;
    h2 {
        color: $black-color;
        letter-spacing: $letter-spacing;
        font-family: 'MontserratUltraLight';
        font-size: 35px;
        line-height: 1.3;
        padding-bottom: 50px;
        @include media('<desktop') {
            font-size: 30px;
        }
    }
    img {
        max-width: 64px;
    }
}