.landing-page {
    padding-bottom: 20px;
    .dripicons-chevron-down {
        color: $primary-color;
        font-size: 30px;
    }
    .body {
        @include media(">desktop") {
            margin-left: 100px;
            margin-right: 100px;
        }
        h3 {
            padding-top: 0;
            padding-bottom: 10px;
            line-height: 40px;
            opacity: 0.6;
            margin-top: 0px;
            @include media('<desktop') {
                font-size: 30px;
            }
        }
        .whop-walkthrough {
            border-radius: 4px;
            position: absolute;
            top: 10%;
            left: 15%;
            right: 15%;
            max-width: 70%;
            display: block;
            height: auto;
        }
    }
}