.login-page {
    background: $gray-color;
    @include position(fixed, 0 0 0 0);

    & .panel {
        width: 330px;
        background-color: transparent;
        box-shadow: none;
        position: absolute;
        left: 50%;
        top: 45%;
        bottom: 0;
        margin-top: 200px;
        margin-left: -165px;
        text-align: center;
        .panel-body {
            img {
                height: 60px;
                @include margin(10px null 20px null);
            }

            .header, .sub-header {
                text-align: left;
                font-family: 'MontserratLight';
                letter-spacing: $letter-spacing;
                color: $black-color;
            }

            .help-block {
                text-align: left;
                &.has-error {
                    text-align: center;
                }
            }

            .header {
                font-size: 25px;
                line-height: 35px !important;
            }

            .sub-header {
                font-size: 11px;
                opacity: 0.6;
            }
        }
    }

    & .footer {
        position: fixed;
        bottom: 45px;
        left: 30px;
        right: 30px;
        text-align: center;
        font-family: 'LatoLight';
        letter-spacing: $letter-spacing;
        color: $black-color;
        span {
            font-size: 16px;
            opacity: 0.6;
            padding-right: 20px;
        }

        a {
            padding-top: 10px;
            text-decoration: none;
        }
    }

    input {
        border: 1px solid $gray-color;
        border-radius: $input-field-border-radius;
        @include padding(0 15px);
        color: $black-color;
        letter-spacing: $letter-spacing;
        font-size: 14px;
        font-family: 'RobotoLight';
        &:focus {
            border-color: $gray-color;
        }
    }

    label, .forgot {
        color: $black-color;
        letter-spacing: 0.2px;
        font-weight: normal;
        font-family: 'RobotoRegular';
        opacity: 0.6;
        font-size: 12px;
        text-transform: capitalize;
    }

    .forgot {
        text-decoration: none;
        &:hover {
            @include transition(0.5s ease-in-out);
            color: $primary-color;
        }
        i {
            font-size: 20px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    input[type="checkbox"] {
        box-shadow: none;
    }
}