.pricing-page {
    table {
        background-color: $white-color;
    }
    .table {
        box-shadow: 0 4px 8px 0 rgba(50, 86, 123, .16);
        border-radius: 5px;

        .package-name {
            font-family: 'MontserratLight';
            text-transform: uppercase;
            font-size: 22px;
            color: $success-color;
            padding-top: 0px;
        }
        .package-price {
            font-family: 'LatoHairline';
            font-size: 80px;
        }
        .package-select {
            font-size: 25px;
            margin-top: 0;
            line-height: 1.3;
            font-family: 'LatoLight';
            letter-spacing: $letter-spacing;
            &-sub {
                font-family: 'raleway-medium';
            }
        }

        [class*="dripicons-"] {
            font-size: 30px;
            color: $success-color;
        }
        .dripicons-cross {
            color: $danger-color;
        }


        .features {
            img {
                max-width: 100%;
            }
            .name {
                font-size: 16px;
                letter-spacing: $letter-spacing;
                font-family: 'raleway-medium';
            }
            .description {
                font-family: 'LatoLight';
                font-size: 14px;
                opacity: 0.7;
            }
        }

        h5 {
            padding-top: 0;
        }

        > thead,
        > tbody {
            > tr {
                > th:first-child,
                > td:first-child {
                    text-align: left;
                    vertical-align: middle;
                }
            }
        }

        > thead,
        > tbody,
        > tfoot {
            > tr {
                > th,
                > td {
                    border-top: 1px solid rgba($default-color, 0.2);
                    vertical-align: top;
                    padding: 20px;
                    text-align: center;
                    &.active {
                        background-color: $success-color;
                        h1,
                        h5,
                        h6 {
                            color: $white-color;
                        }
                        h6 {
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
        > thead > tr > th {
            border-bottom: 1px solid rgba($default-color, 0.2);
        }
        > caption + thead,
        > colgroup + thead,
        > thead:first-child {
            > tr:first-child {
                > th,
                > td {

                }
            }
        }
        > tbody + tbody {
            border-top: 1px solid rgba($default-color, 0.2);
        }
    }
    .table-bordered {
        border: 1px solid rgba($default-color, 0.2);
        > thead,
        > tbody,
        > tfoot {
            > tr {
                > th,
                > td {
                    border: 1px solid rgba($default-color, 0.2);
                }
            }
        }
        > thead > tr {
            > th,
            > td {

            }
        }
    }
    .panel {
        text-align: center;
        .panel-body {
            .package-name {
                font-family: 'MontserratLight';
                font-size: 22px;
            }
            .package-price {
                font-family: 'LatoHairline';
                font-size: 80px;
                color: $primary-color;
            }
        }
        &.active {
            background: $success-color;
            .package-name,
            .package-price,
            ul>li {
                color: $white-color;
                opacity: 1;
            }
        }
    }
    /* img {
        width: 30%;
        padding-bottom: 30px;
    } */
    ul {
        li {
            font-size: 16px;
            letter-spacing: 0.4px;
            line-height: $line-height;
            font-family: 'RobotoLight';
            opacity: 0.7;
            strong {
                font-family: 'RobotoRegular';
            }
        }
    }
    .btn {
        @include margin(20px);
    }
    .dripicons-star {
        color: $warning-color;
    }
}
