.screenshot {
    @include padding(50px);
    img {
        box-shadow: 0 8px 25px $default-color;
        border-radius: 4px;
        max-width: 100%;
    }
    h2 {
        font-family: 'LatoLight';
        letter-spacing: $letter-spacing;
        padding-bottom: 20px;
    }
    h6 {
        font-size: 16px;
    }
    p {
        font-family: 'MontserratLight';
        text-align: justify;
        line-height: $line-height;
        letter-spacing: $letter-spacing;
        opacity: 0.8;
        font-size: 14px;
    }
    &-stack-page {
        background-color: lighten($gray-color, 0.5);
        h2 {
            font-size: 42px;
        }
        img {
            width: 60%;
            height: auto;
            margin: 50px -150px 30px 0;
            float: right;
            @include media("<=phone", "<=tablet") {
                margin: 0px;
                float: none;
            }
        }

    }
    &-sided-page {
        // background-color: $white-color;
        background-color: lighten($gray-color, 0.5);
        img {
            margin-top: 20px; 
            &.image-left {
                float: left;
                margin-left: -80px;
            }
            &.image-right {
                float: right;
                margin-right: -80px;
            }
        }
        h2 {
            font-size: 38px;
        }
    }
}