.testimoni-page {
    @include padding(100px 0);
    background-color: $primary-color;
    text-align: center;
    h1,
    h3,
    h5,
    h6 {
        color: $white-color;
    }
    h1 {
        font-size: 72px;
    }
    h3 {
        font-family: 'MontserratUltraLight';
        line-height: 50px;
        letter-spacing: $letter-spacing;
    }
    h6 {
        font-family: 'LatoLight';
        text-transform: uppercase;
        padding-top: 10px;
    }
    h5 {
        font-family: 'LatoLight';
        text-transform: uppercase;
        padding-top: 0;
    }
}
