// $primary-color: #29f;
$primary-color: #2256A7;
$default-color: #c8cfdc;
$danger-color: #D91E18;
$success-color: #14b761;
$warning-color: #F5AB35;
$info-color: #4183D7;
$gray-color: #f4f4f7;
$white-color: #ffffff;
$black-color: #283040;
$special-color: #404c66;

$breadcrumb-separator: "\f101";

$font-stack: 'Raleway';

$navbar-height: 65px;
$navbar-line-height: 35px;
$navbar-margin: 200px;

$input-field-border-radius: 3px;

$letter-spacing: 0.7px;

$line-height: 1.7;

$animation-delay-spinner: -1.1s;