$font-path: '../fonts/montserrat/';
$font-families: 'Light', 'Regular', 'UltraLight';
$font-prefix: 'Montserrat';
$font-postfix: '';

@include font-kaizoku($font-path, $font-families, $font-prefix, $font-postfix)


