$font-path: '../fonts/raleway/';
$font-families: 'bold', 'extrabold', 'extralight', 'heavy', 'light', 'medium', 'regular', 'semibold', 'thin';
$font-prefix: 'raleway-';
$font-postfix: '';

@include font-kaizoku($font-path, $font-families, $font-prefix, $font-postfix)


