@mixin button-pallete($color, $background) {
    color: $color;
    background-color: $background;
    &:focus,
    &.focus {
        color: $color;
        background-color: darken($background, 3%);
        @include transition(0.5s ease-in-out);
    }
    &:hover {
        color: $color;
        background-color: darken($background, 3%);
        @include transition(0.5s ease-in-out);
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $color;
        background-color: darken($background, 3%);
        &:hover,
        &:focus,
        &.focus {
            color: $color;
            background-color: darken($background, 3%);
        }
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus,
        &.focus {
            background-color: $background;
        }
    }
}
