.btn {
    border-radius: 3px;
    color: $white-color;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'MontserratLight';
    font-weight: normal;
    font-size: 13px;
    border: none;
}

.btn-special {
    @include button-pallete($white-color, $special-color);
    &:hover {
        background-color: $primary-color;
    }
}

.btn-default {
    @include button-pallete($black-color, $default-color);
}

.btn-primary {
    @include button-pallete($white-color, $primary-color);
}

.btn-success {
    @include button-pallete($white-color, $success-color);
}

.btn-info {
    @include button-pallete($white-color, $info-color);
}

.btn-warning {
    @include button-pallete($white-color, $warning-color);
}

.btn-danger {
    @include button-pallete($white-color, $danger-color);
}


.btn-lg {
    padding: 15px 16px;
}