.carousel-inner {
    > .item {
        height: 300px;
        align-items: center;
    }
}

.carousel-control {
    color: $white-color;
    text-shadow: none;
    font-size: 50px;

    &.left {
        background-image: none;
    }

    &.right {
        background-image: none;
    }

    &:hover,
    &:focus {
        color: $white-color;
        opacity: 1;
    }

    .dripicons-chevron-left,
    .dripicons-chevron-right {
        position: absolute;
        top: 50%;
        margin-top: -10px;
        z-index: 5;
        display: inline-block;
    }

    .dripicons-chevron-left {
        left: 50%;
        margin-left: -10px;
    }

    .dripicons-chevron-right {
        right: 50%;
        margin-right: -10px;
    }
}

.carousel-caption {
    text-shadow: none;
}