.dropdown-menu {
    padding: 5px 0;
    margin: 2px 0 0; // override default ul
    background-color: $white-color;
    box-shadow: 0 4px 8px 0 rgba(50,86,123,.16);
    border: 1px solid $gray-color;
    border: none;
    border-radius: 3px;
    // Aligns the dropdown menu to right
    //
    // Deprecated as of 3.1.0 in favor of `.dropdown-menu-[dir]`
    &.pull-right {
        right: 0;
        left: auto;
    }
    // Dividers (basically an hr) within the dropdown
    .divider {
        @include nav-divider($dropdown-divider-bg);
    }
    // Links within the dropdown menu
    > li > a {
        font-family: 'MontserratLight';
        @include padding(5px 20px);
        font-weight: normal;
        color: $black-color;
        opacity: 0.8;
    }
}

.dropdown-menu > li > a {
    &:hover,
    &:focus {
        text-decoration: none;
        color: $dropdown-link-hover-color;
        background-color: transparent !important;
    }
}

// Active state
.dropdown-menu > .active > a {
    &,
    &:hover,
    &:focus {
        color: $primary-color;
        text-decoration: none;
        outline: 0;
        background-color: transparent;
    }
}
