#{$all-text-inputs}, select {
    font-family: 'RobotoLight';
    letter-spacing: $letter-spacing;
    font-size: 16px;
    color: $black-color;
    border: 1px solid #dfdfdf;
    border-radius: $input-field-border-radius;
    box-shadow: none;
    @include padding(0 15px);
}

#{$all-text-inputs-focus}, select {
    border: 1px solid $primary-color;
    box-shadow: none !important;
}

.has-error {
    @include form-control-validation($danger-color, $danger-color, $danger-color);
}

.help-block {
    font-family: 'RobotoLight';
    letter-spacing: $letter-spacing;
    &.has-error {
        text-align: center;
        color: $danger-color;
        font-size: 15px;
    }
}

.form-group {
    > label {
        font-family: 'MonserratLight';
        letter-spacing: $letter-spacing;
        text-transform: uppercase;
        color: $special-color;
    }
}