.spinner {
    margin: 0 auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
    > div {
        background-color: #fff;
        height: 100%;
        width: 3px;
        display: inline-block;
        @include animation(sk-stretchdelay 1.2s infinite ease-in-out);
    }

    @for $i from 2 through 5 {
        .rect#{$i}) {
            @include animation-delay($animation-delay-spinner);
        }
        $animation-delay-spinner: $animation-delay-spinner + 0.1;
    }
}

@include keyframes (sk-stretchdelay) {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
