.modal.modal-fullscreen {
    .modal-dialog,
    .modal-content {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    .modal-dialog {
        margin: 0;
        width: 100%;
    }
    .modal-content {
        border: none;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: inherit;
        -moz-box-shadow: inherit;
        -o-box-shadow: inherit;
        box-shadow: inherit;
    }
    &.force-fullscreen {
        .modal-body {
            padding: 0;
        }
        .modal-header,
        .modal-footer {
            left: 0;
            position: absolute;
            right: 0;
        }
        .modal-header {
            top: 0;
            border-bottom: none;
            #stop-button {
                position: absolute;
                top: 5%;
                right: 2%;
                z-index: 9999;
                img {
                    max-width: 80px;
                    min-height: 80px;
                }
                &.close {
                    opacity: 0.5;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
        .modal-footer {
            bottom: 0;
        }
    }
}

.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
}