.nav-tabs {
    border: none;
    > li {
        float: left;
        margin-bottom: -1px;
        > a {
            font-family: 'MontserratRegular';
            color: $black-color;
            letter-spacing: $letter-spacing;
            margin-right: 2px;
            line-height: 5px;
            border: none;
            background: none;
            &:hover {
                color: $primary-color;
                border: none;
                background: none;
            }
        }
        &.active > a {
            &,
            &:hover,
            &:focus {
                color: $primary-color;
                border: none;
                cursor: default;
            }
        }
    }
}

.tabs-left {
    border: none;
    padding-top: 2px;
    background: none;
}

.tabs-left {
    border-right: 1px solid #f1f1f1;
    border: none;
}

.tabs-left>li {
    float: none;
    margin-bottom: 2px;
}

.tabs-left>li {
    margin-right: -1px;
}

.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
    border: none;
    background: none;
    border-right-color: transparent;
}

.tabs-left>li>a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display: block;
}

.side-menu{
    &.affix {
        position: fixed;
        top: 30px;
    }
}
