.navbar {
    min-height: $navbar-height;
    padding-top: 20px;
    @media only screen and (min-height: 0) and (min-width: 950px) {
        padding-top: 50px;
    }
}

.navbar-default {
    background-color: $white-color;
    border: none;
    .navbar-custom {
        @media only screen and (min-height: 0) and (min-width: 950px) {
            margin-left: 100px;
            margin-right: 100px;
        }
    }
    .navbar-brand {
        padding: 0;
        > img {
            display: block;
            height: 50px;
            width: auto;
            @include media(">=phone", "<=tablet") {
                @include padding(5px);
            }
        }
    }
    .navbar-text {
        color: $navbar-default-color;
    }
    .navbar-nav {
        > li > a {
            font-family: 'MontserratLight';
            letter-spacing: 2.5px;
            color: $black-color;
            text-transform: uppercase;
            &:hover,
            &:focus {
                @include transition(0.5s ease-in-out);
                color: $primary-color;
                background-color: transparent;
            }
        }
        > .active > a {
            &,
            &:hover,
            &:focus {
                color: $primary-color;
                background-color: transparent;
            }
        }
    }
    .navbar-toggle {
        border-color: $navbar-default-toggle-border-color;
        &:hover,
        &:focus {
            background-color: $navbar-default-toggle-hover-bg;
        }
        .icon-bar {
            background-color: $navbar-default-toggle-icon-bar-bg;
        }
    }
    .navbar-collapse,
    .navbar-form {
        border-color: $navbar-default-border;
    }
    // Dropdown menu items
    .navbar-nav {
        
        > .open > a {
            &,
            &:hover,
            &:focus {
                background-color: transparent;
                // color: $white-color;
            }
        }
        @media (max-width: $grid-float-breakpoint-max) {
            // Dropdowns get custom display when collapsed
            .open .dropdown-menu {
                > li > a {
                    color: $navbar-default-link-color;
                    &:hover,
                    &:focus {
                        color: $primary-color;
                        background-color: transparent;
                    }
                }
                > .active > a {
                    &,
                    &:hover,
                    &:focus {
                        color: $primary-color;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
