.pagination {
    box-shadow: 0 4px 8px 0 rgba(50,86,123,.16);
    > li {
        > a,
        > span {
            color: $primary-color;
            background-color: $white-color;
        }
    }
    > li > a,
    > li > span {
        &:hover,
        &:focus {
            background-color: $white-color;
        }
    }
    > .active > a,
    > .active > span {
        &,
        &:hover,
        &:focus {
            color: $white-color;
            background-color: $primary-color;
            border-color: $primary-color;
        }
    }
}
