.panel {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(50,86,123,.16);
    border-radius: 3px;
    .panel-body {
        @include padding(20px);
    }
    &.panel-item-not-exist {
        @include padding(50px);
        img {
            padding-bottom: 20px;
        }
        h5 {
            padding-bottom: 20px;
        }
    }
}