section {
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 50px;
    @include padding(20px 50px 50px 50px);
    @include media("retina2x") {
        padding-top: 0;
    }
    @include media(">=phone", "<=tablet") {
        padding-top: 100px;
    }
    .header {
        text-align: center;
        letter-spacing: 0.3px;

        h1 {
            font-family: 'MontserratUltraLight';
            #technology {
                background: $primary-color;
                color: $white-color;
                @include padding(5px 10px);
            }
            .typed-cursor {
                color: $white-color;
            }
        }

        h6 {
            font-family: 'raleway-medium';
            text-transform: uppercase;
            opacity: 0.6;
            letter-spacing: 1px;
            @include padding(30px null);
            &.special {
                color: $primary-color;
                font-size: 18px;
                opacity: 1;
            }
        }

        img {
            @include media('retina2x') {
                width: 60%;
            }
            width: 80%;
            padding-top: 20px;
        }
    }

    h3 {
        font-family: 'LatoLight';
        font-size: 32px;
        letter-spacing: $letter-spacing;
        line-height: $line-height;
        padding-top: 20px;

        @include media('<desktop') {
            font-size: 24px;
            padding-top: 0;
        }
    }

    h5 {
        font-family: 'RobotoRegular';
        letter-spacing: $letter-spacing;
        font-size: 16px;
        line-height: $line-height;
        opacity: 0.9;
        padding-top: 20px;
        margin-bottom: 10px;
    }

    h6 {
        font-family: 'RobotoLight';
        font-size: 15px;
        line-height: $line-height;
        letter-spacing: $letter-spacing;
        opacity: 0.7;
    }
}