#sk-container {
    #sk-header {
        background-color: $success-color !important;
        color: $white-color;
    }
    #sk-wrapper .sk-msg {
    background-color: #ff3333;
}
#sk-container #sk-wrapper .sk-msg::after {
    border-left-color: #ff3333;
}
}